.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: url("bgwedding.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  color: darkgoldenrod;
  font-size: 80px;
  animation: slideinfrontleft 1s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

h2 {
  color: #333;
  font-size: 35px;
  animation: slideinfronleft 1s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

h3 {
  color: #333;
  font-size: 40px;
  animation: slideinfrontleft 1s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

p {
  color: #333;
  font-size: 40px;
  animation: slideinfrontleft 1s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.image-container {
  margin-bottom: 20px;
}

.couple-image {
  width: 400x;
  height: 400px;
  background-image: url(pasanganwedding.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  animation-name: slidein;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes slidein {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

form {
  margin-top: 20px;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#status {
  margin-top: 20px;
  font-weight: bold;
}

.undangan-link {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transform: translate(-100, -100);
  opacity: 0;
  animation: fadeInFromCenter 1s ease-in-out forwards;
}

@keyframes fadeInFromCenter {
  0% {
    transform: translate(-100%, -100%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(-100%, -100%) scale(1);
    opacity: 1;
  }
}

.undangan-link:hover {
  background-color: darkgoldenrod;
}
